.table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.error-label {
    color: #ed5353;
}

.margin-left {
    margin-left: 1rem;
}

.text-transform-none {
    text-transform: none !important;
}

.header-class {
    background-color: #333;
    color: #fafafa;
}

.close-button {
    color: #fafafa !important;
    font-weight: bold !important;
}
