<ng-template #dialog_message let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="is_upload" nbSpinnerStatus="primary">
    <nb-card-header>
      Mensaje
    </nb-card-header>
    <nb-card-body>
      <textarea nbInput [(ngModel)]="data.item.rechazo_motivo" fullWidth placeholder="Textarea"></textarea>
    </nb-card-body>
    <nb-card-footer>
      <button size="tiny" nbButton fullWidth status="primary" (click)="ref.close ()">Cancelar</button>
      &nbsp;
      <button size="tiny" [disabled]="data.item.rechazo_motivo === undefined || data.item.rechazo_motivo === ''" status="success" nbButton fullWidth (click)="rechazar (ref, data.item, data.ref)">Enviar</button>      
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog" [nbSpinner]="is_upload" nbSpinnerStatus="primary">
    <nb-card-header>
      <div class="row">
        <div class="col-9">
          Alojamiento&nbsp;
          <span *ngIf="data.item.registro_nuevo === '0'">* Registro nuevo</span>
          <span *ngIf="data.item.registro_nuevo === '1'">* Actualizacion de datos</span>
        </div>

        <div class="col-3 text-right">
          <button ghost nbButton size="small" (click)="ref.close ()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="data.item.registro_nuevo === '1'">
        <p class="form-header">- Actualizacion de datos</p>
        <div class="form-box">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">N° de Licencia de Funcionamiento</label>
                <input [disabled]="true" [(ngModel)]="data.item.numero_certificado" class="form-control form-control-sm" type="text">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Fecha de Expedicion</label>
                <input [disabled]="true" [value]="get_date_format (data.item.fecha_exp)" class="form-control form-control-sm" type="text">
              </div>
            </div>
          </div>
        </div>
        <br>
      </ng-container>
      <p class="form-header">INFORMACIÓN DEL ESTABLECIMIENTO</p>
      <div class="form-box">
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Razon social</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.razon_social" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre Comercial</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.nombre_comercial" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° de RUC</label>
              <input [disabled]="true" [(ngModel)]="data.item.ruc" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlInput1">Direccion completa</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.direccion" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Region</label>
              <input [disabled]="true" value="Cusco" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Provincia</label>
              <input [disabled]="true" [(ngModel)]="data.item.provincia.nombre" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Distrito</label>
              <input [disabled]="true" [(ngModel)]="data.item.distrito.nombre" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Pagina Web</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.pagina_web" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <input [disabled]="true" [(ngModel)]="data.item.correo" class="form-control form-control-sm" type="text">
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Telefono</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.telefono" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Representante Legal</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.representante_nombre" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Doc. Identidad</label>
              <input *ngIf="disabled_form" [disabled]="true" [(ngModel)]="data.item.representante_tdoc" class="form-control form-control-sm" type="text">
              <nb-select *ngIf="disabled_form === false" [(ngModel)]="data.item.representante_tdoc" size="small" fullWidth>
                <nb-option value="DNI">DNI</nb-option>
                <nb-option value="CE">C.E.</nb-option>
              </nb-select>
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° Doc. Identidad</label>
              <input [disabled]="disabled_form" [(ngModel)]="data.item.representante_ndoc" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Fecha inicio de operaciones</label>
              <input [disabled]="true" [value]="get_date_format (data.item.fecha_ins)" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° Licencia de Funcionamiento</label>
              <input [disabled]="true" [(ngModel)]="data.item.numero_certificado" class="form-control form-control-sm" type="text">
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Fecha de expedicion</label>
              <input [disabled]="true" [value]="get_date_format (data.item.fecha_exp)" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>
      </div>
      <br>
      <p class="form-header">REQUISITOS MINIMOS</p>
      <div class="form-box">
        <p>A. REQUISITOS MINIMOS DE INFRAESTRUCTURA</p>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° de Habitaciones (minimo 6)</label>
              <input [disabled]="true" [(ngModel)]="data.item.numero_habitaciones" class="form-control form-control-sm" type="text">
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Ingreso diferenciado para huespedes y personal de servicio</label>
              <input [disabled]="true" [(ngModel)]="data.item.ingreso_diferenciado" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° de Pisos</label>
              <input [disabled]="true" [(ngModel)]="data.item.numero_pisos" class="form-control form-control-sm" type="text">
            </div>
          </div>
          
          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Numero de personal ocupado</label>
              <input [disabled]="true" [(ngModel)]="data.item.numero_personal" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Numero de camas</label>
              <input [disabled]="true" [(ngModel)]="data.item.numero_camas" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Numero de baños privados</label>
              <input [disabled]="true" [(ngModel)]="data.item.nro_banios_privados" class="form-control form-control-sm" type="text">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label for="exampleFormControlInput1">Numero de baños comunes</label>
              <input [disabled]="true" [(ngModel)]="data.item.nro_banios_comunes" class="form-control form-control-sm" type="text">
            </div>
          </div>
        </div>
        <br>
        <p>EL ESTABLECIMIENTO CUENTA CON:</p>
        <div class="row">
          <div class="col-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_01">
              <label class="form-check-label">
                Area de recepcion y consejeria
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_02">
              <label class="form-check-label">
                El area de habitaciones (incluye el area del closet guardarropa) tiene como minimo 6m
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_03">
              <label class="form-check-label">
                El area de total de los SS.HH. privados o comunes tiene como minimo 2m
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_04">
              <label class="form-check-label">
                Lo sericios higienicos: Cuentan con pisos y paredes de material impermeable, el revestimiento de la pared tiene una altura minima de 1.80m.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_05">
              <label class="form-check-label">
                Contar con un ascensor a partir de (4) o mas pisos.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_07">
              <label class="form-check-label">
                La edificacion guarda armonía con el entorno en el que se ubica.
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_08">
              <label class="form-check-label">
                Accesibilidad para personas con dicapacidad y de las personas adultas mayores, según norma A.120.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_09">
              <label class="form-check-label">
                Para el diseño de acceso y salidas de emergencia pasajes de circulacion de personas, escaleras, sistema contra incendios, etc., se a tomado en cuenta la norma A.130, requisitos de seguridad.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_inf_10">
              <label class="form-check-label">
                Tabiqueria: Los muros y diviciones interiores, especialemente entre dormitorios cumplen con los requisitos de seguridad del reglamento de edificaciones siendo cumbustibles, higiénicos y de facil limpieza, brindando condiciones de privavidad y alislamiento acústico.
              </label>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <p>B. REQUISITOS MINIMOS DE EQUIPAMIENTO</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_eqp_01">
              <label class="form-check-label">
                Telefono de uso publico (puede ser teléfono fijo de recpeción, celular, dependiendo de la zona y para uso exclusivo del huésped)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_eqp_02">
              <label class="form-check-label">
                Botiquin de primeros auxilios segun especificaciones técnicas del ministerio de salud
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_eqp_03">
              <label class="form-check-label">
                Cuento con sistema que permita tener agua fria y caliente y las 24 horas del dia el cual no es activado por el huésped.
              </label>
            </div>
          </div>
          <div class="col-6">
            <p>C. REQUISITOS MINIMOS DE SERVICIO</p>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_srv_01">
              <label class="form-check-label">
                Se realiza limpieza diaria de habitaciones y todos los ambientes del establecimiento.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_srv_02">
              <label class="form-check-label">
                Brindo servicio de custodia de equipaje.
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" onclick="return false;" [checked]="data.item.req_min_srv_03">
              <label class="form-check-label">
                El cambio de sabanas y toallas debe ser regular, (el huésped puede solicitar que no se cambies regularmente de acuerdo a criterios amientales y otros)
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p class="form-header">PERSONAL DE TRABAJO</p>
      <ol>
        <li *ngFor="let i of data.item.personal">
          <span *ngIf="i.genero === 'varon'">Varon</span><span *ngIf="i.genero === 'mujer'">Mujer</span><span *ngIf="i.genero === 'np'">No precisa</span> / {{ get_anios (i.anio_nacimiento) }} años
        </li>
      </ol>
    </nb-card-body>

    <nb-card-footer>
      <ng-container *ngIf="disabled_form">
        <button nbButton status="success" (click)="aprobar (ref, data.item)">Aprobar</button>
        &nbsp;
        &nbsp;
        <button nbButton status="primary" (click)="rechazar_dialog (dialog_message, data.item, ref)">Rechazar</button>
        &nbsp;
        &nbsp;
        <button nbButton status="primary" (click)="editar_formulario (data)">Editar</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <ng-template #templateRef>
          <nb-list>
            <nb-list-item style="cursor: pointer" (click)="g_declaracion_alojamiento (data.item)">
              Declaracion jurada
            </nb-list-item>
          </nb-list>
        </ng-template>
        <button nbButton status="primary" [nbPopover]="templateRef">
          <nb-icon icon="download-outline"></nb-icon>
        </button>
      </ng-container>

      <ng-container *ngIf="disabled_form === false">
        <button nbButton status="success" (click)="actualizar_data (data.item, ref)">Actualizar</button>
        &nbsp;
        &nbsp;
        <button nbButton status="primary" (click)="cancelar_editar_formulario (data)">Cancelar</button>
      </ng-container>
      <!-- <div class="row">
        <div class="col-3">
          <button nbButton fullWidth status="success" (click)="aprobar (ref, data.item)">Aprobar</button>
        </div>

        <div class="col-3">
          <button nbButton fullWidth status="primary" (click)="rechazar_dialog (dialog_message, data.item, ref)">Rechazar</button>
        </div>
        
        <div class="col-3">
          
        </div>
        <div class="col-3 text-right">
          <ng-template #templateRef>
            <nb-list>
              <nb-list-item style="cursor: pointer" (click)="g_declaracion_alojamiento (data.item)">
                Declaracion jurada
              </nb-list-item>
            </nb-list>
          </ng-template>
          <button nbButton [nbPopover]="templateRef">
            <nb-icon icon="download-outline"></nb-icon>
          </button>
        </div>
      </div> -->
    </nb-card-footer>
  </nb-card>
</ng-template>

<nb-alert status="warning" *ngIf="para_revisar.length > 0 && view !== 'para_revisar'">
  <div class="row" style="align-items: center;">
    <div class="col-10">
      Tiene ({{ para_revisar.length }}) alojamiento(s) nuevo para revisar.
    </div>

    <div class="col-2">
      <button (click)="view = 'para_revisar'" nbButton fullWidth status="basic" size="small">Ver</button>
    </div>
  </div>
</nb-alert>

<nb-card *ngIf="view === 'provincias'" [nbSpinner]="provincias_cargando" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-6 align-self-center">
        Reporte general
      </div>

      <div class="col-3 align-self-center">
        <nb-select id="rtdocumento" [(ngModel)]="year_seleccionado" fullWidth (selectedChange)="year_changed ()">
            <nb-option value="">Todo</nb-option>
          <nb-option value="_2019">2019</nb-option>
          <nb-option value="_2020">2020</nb-option>
          <nb-option value="_2021">2021</nb-option>
          <nb-option value="_2022">2022</nb-option>
        </nb-select>
      </div>

      <div class="col-3 align-self-center">
        <nb-select id="rtdocumento" [(ngModel)]="mes_seleccionado" fullWidth [disabled]="year_seleccionado === ''">
            <nb-option value="">Todo</nb-option>
          <nb-option value="_01">Enero</nb-option>
          <nb-option value="_02">Febrero</nb-option>
          <nb-option value="_03">Marzo</nb-option>
          <nb-option value="_04">Abril</nb-option>
          <nb-option value="_05">Mayo</nb-option>
          <nb-option value="_06">Junio</nb-option>
          <nb-option value="_07">Julio</nb-option>
          <nb-option value="_08">Agosto</nb-option>
          <nb-option value="_09">Septiembre</nb-option>
          <nb-option value="_10">Octubre</nb-option>
          <nb-option value="_11">Noviembre</nb-option>
          <nb-option value="_12">Diciembre</nb-option>
        </nb-select>
      </div>
    </div>
    
  </nb-card-header>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Provincia</th>
        <th scope="col">N° Prestadores</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of provincias">
        <td>
          <button class="text-transform-none" nbButton ghost status="primary" title="Listar" (click)="ver_distritos (item)">
            {{ item.nombre }}
          </button>
        </td>
        <td>{{ get_cantidad (item) }}</td>
        <td>
          <button class="text-transform-none" nbButton ghost status="primary" title="Listar" (click)="get_items_por_provincia (item)">
            Ver listado >
          </button>
        </td>
      </tr>

      <tr>
          <td>
            Total
          </td>
  
          <td>
            <b>{{ get_total_provincias () }}</b>
          </td>
  
          <td>
  
          </td>
      </tr>
    </tbody>
  </table>
</nb-card>

<nb-card *ngIf="view === 'distritos'" [nbSpinner]="distritos_cargando" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-2 align-self-center">
        <button class="text-transform-none" ghost nbButton (click)="ir_vista ('provincias')">< Regresar</button>
      </div>

      <div class="col-4 align-self-center">
        Reporte general
      </div>

      <div class="col-3 align-self-center">
        <nb-select id="rtdocumento" [(ngModel)]="year_seleccionado" fullWidth (selectedChange)="year_changed ()">
            <nb-option value="">Todo</nb-option>
          <nb-option value="_2019">2019</nb-option>
          <nb-option value="_2020">2020</nb-option>
          <nb-option value="_2021">2021</nb-option>
          <nb-option value="_2022">2022</nb-option>
        </nb-select>
      </div>

      <div class="col-3 align-self-center">
        <nb-select id="rtdocumento" [(ngModel)]="mes_seleccionado" fullWidth [disabled]="year_seleccionado === ''">
            <nb-option value="">Todo</nb-option>
          <nb-option value="_01">Enero</nb-option>
          <nb-option value="_02">Febrero</nb-option>
          <nb-option value="_03">Marzo</nb-option>
          <nb-option value="_04">Abril</nb-option>
          <nb-option value="_05">Mayo</nb-option>
          <nb-option value="_06">Junio</nb-option>
          <nb-option value="_07">Julio</nb-option>
          <nb-option value="_08">Agosto</nb-option>
          <nb-option value="_09">Septiembre</nb-option>
          <nb-option value="_10">Octubre</nb-option>
          <nb-option value="_11">Noviembre</nb-option>
          <nb-option value="_12">Diciembre</nb-option>
        </nb-select>
      </div>
    </div>
    
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Distrito</th>
          <th scope="col">N° Prestadores</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of distritos">
          <td>
            {{ item.nombre }}
          </td>
          <td>{{ get_cantidad (item) }}</td>
          <td>
            <button class="text-transform-none" nbButton ghost status="primary" title="Listar" (click)="get_items_por_distrito (item)">
              Ver listado >
            </button>
          </td>
        </tr>

        <tr>
            <td>
              Total
            </td>
    
            <td>
              <b>{{ get_contador_distritos () }}</b>
            </td>
    
            <td>
    
            </td>
          </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="view === 'lista'" [nbSpinner]="descarga_cargando" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="row">
      <div class="col-3 align-self-center">
        <button class="text-transform-none" ghost nbButton (click)="ir_vista ('provincias')">< Regresar</button>
      </div>
      <div class="col-6 align-self-center text-center">
        <b>Alojamientos: {{ provincia_seleccionada.nombre }}</b>
      </div>

      <div class="col-3 align-self-center text-center">
        Total: {{ contador }}
      </div>
    </div>
  </nb-card-header>
  
  <nb-card-header>
    <div class="row">
      <div class="col-3 align-self-center">
        <nb-select [(ngModel)]="clasificacion_seleccionado" fullWidth (selectedChange)="filtrar ()">
          <nb-option value="">Todo</nb-option>
          <nb-option *ngFor="let item of tipo_clasificaciones" [value]="item.id">
            {{ item.nombre }}
          </nb-option>
        </nb-select>
      </div>

      <div class="col-6 align-self-center">
        <input [(ngModel)]="search_text" (ngModelChange)="filter ()" nbInput fullWidth placeholder="Buscar" type="search">
      </div>

      <div class="col-3 align-self-center">
        <button fullWidth nbButton size="small" (click)="exportAsXLSX ()">Exportar<nb-icon icon="save-outline"></nb-icon></button>
      </div>
    </div>
  </nb-card-header>

  <table class="table table-bordered table-striped" [nbSpinner]="lista_cargando" nbSpinnerStatus="primary">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre comercial</th>
        <th scope="col">Fecha aprobado</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Representante legal</th>
        <th style="min-width: 128px;" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ item.nombre_comercial }}</td>
        <td>{{ get_date (item.fecha_aprobado) }}</td>
        <td>{{ item.direccion }}</td>
        <td>{{ item.telefono }}</td>
        <td style="font-size: 11px">
          <ng-container *ngIf="item.representante_nombre !== ''">
            <b>Nombre: </b>{{ item.representante_nombre }}
          </ng-container>

          <br>
          <b>RUC: </b>{{ item.ruc }}
        </td>
        <td>
          <button class="text-transform-none" nbButton ghost status="primary" (click)="ver_detalle (item)">Detalles ></button>
          &nbsp;
          <button class="text-transform-none" nbButton ghost status="primary" (click)="certificado (item)">Constancia ></button>
          &nbsp;
          <button class="text-transform-none" nbButton ghost status="primary" (click)="g_declaracion_alojamiento (item)">Declaracion Jurada ></button>
        </td>
      </tr>
    </tbody>
  </table>
</nb-card>

<nb-card *ngIf="view === 'para_revisar'">
  <nb-card-header>
    <div class="row">
      <div class="col-3 align-self-center">
        <button class="text-transform-none" ghost nbButton (click)="ir_vista ('provincias')">< Regresar</button>
      </div>
      <div class="col-6 align-self-center text-center">

      </div>

      <div class="col-3 align-self-center text-center">
        <nb-select [(ngModel)]="tipo_para_revisar" fullWidth>
          <nb-option value="todo">Todo</nb-option>
          <nb-option value="duplicados">Duplicados</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>

  <table *ngIf="tipo_para_revisar === 'todo'" class="table table-bordered table-striped" [nbSpinner]="lista_cargando" nbSpinnerStatus="primary">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre comercial</th>
        <th scope="col">Fecha solicitud</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo</th>
        <th scope="col">Representante legal</th>
        <th style="min-width: 128px;" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of para_revisar; index as i">
        <td>{{ i+1 }}</td>
        <td>{{ item.nombre_comercial }}</td>
        <td>{{ get_date_format (item.fecha_solicitud) }}</td>
        <td>{{ item.telefono }}</td>
        <td>
          <span *ngIf="item.solo_digital === true">
            Digital
          </span>
          <span *ngIf="item.solo_digital === undefined">
            <span *ngIf="item.canal_digital === '0'">
              Fisica
            </span>
            <span *ngIf="item.canal_digital === '1'">
              Fisica / Digital
            </span>
          </span>
        </td>
        <td style="font-size: 11px">
          <ng-container *ngIf="item.representante_nombre !== ''">
            <b>Nombre: </b>{{ item.representante_nombre }}
          </ng-container>

          <br>
          <b>RUC: </b>{{ item.ruc }}
        </td>
        <td>
          <button nbButton size="tiny" (click)="aprobar_dialog (item, dialog)">
            <nb-icon icon="eye-outline"></nb-icon>
          </button>
          &nbsp;
          <button nbButton size="tiny" status="danger" (click)="eliminar (item, true)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="tipo_para_revisar === 'duplicados'" class="table table-bordered" [nbSpinner]="lista_cargando" nbSpinnerStatus="primary">
    <thead>
      <tr>
        <th scope="col">N° de RUC</th>
        <th scope="col">Nombre comercial</th>
        <th scope="col">Fecha solicitud</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo</th>
        <th scope="col">Representante legal</th>
        <th style="min-width: 128px;" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let v of duplicados | keyvalue">
        <tr *ngFor="let item of v.value">
          <td>{{ item.ruc }}</td>
          <td>{{ item.nombre_comercial }}</td>
          <td>{{ get_date_format (item.fecha_solicitud) }}</td>
          <td>{{ item.telefono }}</td>
          <td>
            <span *ngIf="item.solo_digital === true">
              Digital
            </span>
            <span *ngIf="item.solo_digital === undefined">
              <span *ngIf="item.canal_digital === '0'">
                Fisica
              </span>
              <span *ngIf="item.canal_digital === '1'">
                Fisica / Digital
              </span>
            </span>
          </td>
          <td style="font-size: 11px">
            <ng-container *ngIf="item.representante_nombre !== ''">
              <b>Nombre: </b>{{ item.representante_nombre }}
            </ng-container>
  
            <br>
            <b>RUC: </b>{{ item.ruc }}
          </td>
          <td>
            <button nbButton size="tiny" (click)="aprobar_dialog (item, dialog)">
              <nb-icon icon="eye-outline"></nb-icon>
            </button>
            &nbsp;
            <button nbButton size="tiny" status="danger" (click)="eliminar (item, false)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</nb-card>